<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This game is killer">
    <meta name="author" content="Cody Fayolle and Josh Remaley">

    <title>Word Assassin</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <h1>Word Assassin</h1>
    {% if showHome %}
      <button class="create_btn">Create Game</button>
      <button class="join_btn">Join Game</button>
      <button class="rules_btn">Rules</button>
    {% endif %}

    {% if showRules %}
    <div class="rules">
      <h2>General Gameplay</h2>
      <p>Every assassin is assigned a unique word and a target. To kill their target, the assassin must get them to say the assigned word aloud</p>
      <h2>Rules</h2>
      <ol>
        <li>Your target must say the word exactly as it appears, no variations tolerated</li>
        <li>Each assassin must be directly responsible for getting their target to say the word. If your target says the word during conversation, it only counts if it was directly in response to a question you asked</li>
        <li>Your target must say the word a loud. No writing, email or slack</li>
        <li>Keep your target and word secret!!</li>
      </ol>
    </div>
    {% endif%}

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
  <script>
    var rulesBtn = document.getElementsByClassName('rules_btn');
    if (rulesBtn[0]){
      rulesBtn[0].addEventListener('click', function () {
        window.location = 'http://localhost:2007/rules/';
      })
    }
  </script>

</html>
