h1 {
  text-align: center;
  color: white;
  font-size: 100px;
  text-shadow: 3px 3px 20px rgba(88, 88, 88, 0.774),
              6px 6px 15px rgb(8, 8, 8);
  padding: 10px;
}

h2{
  text-align: center;
  margin: 0 auto;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  font-size: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  border-radius: 5px;
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: bold;
}

p{
  text-align: center;
  margin: 10px
}

body {
  background-color: #455c6b;
}

.rules{
  color: white;
}

ol{
  width: 600px;
  margin: 0 auto;
}
